version: '3.8'

services:
  # mongodb:
  #   image: mongo:latest
  #   container_name: mongodb
  #   ports:
  #     - "27017:27017"
  #   volumes:
  #     - mongo-data:/data/db

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8001:8001"
    depends_on:
      - mongodb
    # environment:
    #   - MONGO_URI=mongodb://mongodb:27017/test
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules   # prevent overwriting node_modules
    command: ["npm", "run", "dev"]

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    extra_hosts:
      - "host.docker.internal:host-gateway" # allow backend on local, if needed
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - VITE_API_URL=http://backend:8001   # useful if calling API directly
    command: ["npm", "run", "dev"]

volumes:
  mongo-data:
